table thead .caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid \9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
  }
  
  /*
  table thead tr { 
      border-bottom: 3px solid #0a0a0a; 
  }
  */
  
  .div-no-tasks {
    margin-top: 10%;
    margin-bottom: 10%;
  }
  .lbl-no-tasks {
    font-size: 21px;
    font-weight: bold;
  }
  .lbl-no-tasks-desc {
    font-size: 15px;
  }
  
  .react-bootstrap-table {
    height: 500px;
    overflow: auto;
  }
  
  .react-bootstrap-table th {
    position: sticky;
    top: -1px;
    background-color: #fff;
  }
  
  .icon-search {
    font-family: "BC Sans", "Noto Sans", Arial, "sans serif";
    font-size: 14px;
  }
  
  .container-task-view {
    margin: 30px;
  }