.SearchInput
{
    width: 85%;
    display:inline;
}

.SearchInputIcon
{
    width:10%;
    display:inline;
    color: #6c757d;
}


.SearchControl
{
    width:15%;
    display: inline-block;
    margin:2px;
}

.task-filter
{
    margin:2px;
}
